# Load & Initial Inspection

In [2]:
import pandas as pd
import numpy as np

df= pd.read_csv(r"C:\Users\user\Downloads\Healthcare_Dataset.csv")

print(df.shape)

df.info() 

df.head()

(158000, 15)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158000 entries, 0 to 157999
Data columns (total 15 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Patient_ID      153361 non-null  object
 1   Age             142188 non-null  object
 2   Gender          129330 non-null  object
 3   Height_cm       138202 non-null  float64
 4   Weight_kg       138140 non-null  float64
 5   BMI             112608 non-null  float64
 6   Blood_Pressure  126028 non-null  object
 7   Heart_Rate      135631 non-null  float64
 8   Cholesterol     135397 non-null  object
 9   Diabetes        126585 non-null  object
 10  Smoking_Status  123135 non-null  object
 11  Admission_Date  105692 non-null  object
 12  Discharge_Date  105454 non-null  object
 13  Hospital        118216 non-null  object
 14  Billing_Amount  135472 non-null  float64
dtypes: float64(5), object(10)
memory usage: 18.1+ MB

,Patient_ID,Age,Gender,Height_cm,Weight_kg,BMI,Blood_Pressure,Heart_Rate,Cholesterol,Diabetes,Smoking_Status,Admission_Date,Discharge_Date,Hospital,Billing_Amount
0,PAT1000000,75,MALE,180.0,NaN,18.5,130/85,NaN,150,No,Unknown,15-11-2020,02/27/2020,NaN,50000.0
1,NaN,65,F,190.0,85.0,NaN,120/80,250.0,high,NaN,Unknown,29-11-2022,NaN,Metro Medical Center,5000.0
2,PAT1000002,35,F,50.0,65.0,22.3,110/70,-5.0,220,NaN,smoker,16-11-2022,"July 09, 2022",CITY HOSPITAL,20000.0
3,PAT1000003,-10,NaN,160.0,95.0,18.5,80/40,72.0,NaN,yes,Smoker,NaN,14-07-2021,City Hospital,NaN
4,PAT1000004,unknown,F,300.0,75.0,22.3,200/150,95.0,220,NaN,NaN,2001-09-29,NaN,city hospital,NaN

# Checking nulls, percentage of nulls, empty strings, whitespace, trim, dtypes, date format check, etc.

# STEP 1: (a) Check for True Null Values (NaN / None)

In [3]:
df.isnull().sum()

Patient_ID         4639
Age               15812
Gender            28670
Height_cm         19798
Weight_kg         19860
BMI               45392
Blood_Pressure    31972
Heart_Rate        22369
Cholesterol       22603
Diabetes          31415
Smoking_Status    34865
Admission_Date    52308
Discharge_Date    52546
Hospital          39784
Billing_Amount    22528
dtype: int64

In [4]:
# Percentage of nulls

(df.isnull().sum() / len(df)) * 100

Patient_ID         2.936076
Age               10.007595
Gender            18.145570
Height_cm         12.530380
Weight_kg         12.569620
BMI               28.729114
Blood_Pressure    20.235443
Heart_Rate        14.157595
Cholesterol       14.305696
Diabetes          19.882911
Smoking_Status    22.066456
Admission_Date    33.106329
Discharge_Date    33.256962
Hospital          25.179747
Billing_Amount    14.258228
dtype: float64

In [5]:
df.isnull().mean().sort_values(ascending=False)

Discharge_Date    0.332570
Admission_Date    0.331063
BMI               0.287291
Hospital          0.251797
Smoking_Status    0.220665
Blood_Pressure    0.202354
Diabetes          0.198829
Gender            0.181456
Cholesterol       0.143057
Billing_Amount    0.142582
Heart_Rate        0.141576
Weight_kg         0.125696
Height_cm         0.125304
Age               0.100076
Patient_ID        0.029361
dtype: float64

# Step 1: (b) check for empty strings

In [6]:
(df == "").sum()

Patient_ID        0
Age               0
Gender            0
Height_cm         0
Weight_kg         0
BMI               0
Blood_Pressure    0
Heart_Rate        0
Cholesterol       0
Diabetes          0
Smoking_Status    0
Admission_Date    0
Discharge_Date    0
Hospital          0
Billing_Amount    0
dtype: int64

## No Empty strings found

# Step 1: (c) Check for Whitespaces (Leading/Trailing Spaces)

In [7]:
# Detect leading/trailing spaces:

df["Hospital"].str.startswith(" ").sum()
df["Hospital"].str.endswith(" ").sum()

39402

In [8]:
 # Detect values that change after stripping:

(df["Hospital"] != df["Hospital"].str.strip()).sum()

99161

# Step 1: (d) Check for "unknown", "invalid", etc.(inspecting unique values, before replacing)

In [9]:
df["Gender"].value_counts(dropna=False)

Gender
NaN        28670
female     14620
FEMALE     14576
unknown    14480
Female     14442
male       14420
Male       14334
F          14246
MALE       14115
M          14097
Name: count, dtype: int64

In [10]:
# Case sensitive values check

df["Gender"].str.lower().value_counts(dropna=False)

Gender
male       42869
female     29062
NaN        28670
female     14576
unknown    14480
f          14246
m          14097
Name: count, dtype: int64

# Step 1: (e) Detect Mixed Data Types

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158000 entries, 0 to 157999
Data columns (total 15 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Patient_ID      153361 non-null  object
 1   Age             142188 non-null  object
 2   Gender          129330 non-null  object
 3   Height_cm       138202 non-null  float64
 4   Weight_kg       138140 non-null  float64
 5   BMI             112608 non-null  float64
 6   Blood_Pressure  126028 non-null  object
 7   Heart_Rate      135631 non-null  float64
 8   Cholesterol     135397 non-null  object
 9   Diabetes        126585 non-null  object
 10  Smoking_Status  123135 non-null  object
 11  Admission_Date  105692 non-null  object
 12  Discharge_Date  105454 non-null  object
 13  Hospital        118216 non-null  object
 14  Billing_Amount  135472 non-null  float64
dtypes: float64(5), object(10)
memory usage: 18.1+ MB

In [12]:
# Detect non-numeric values in numeric column:

df[~df["Age"].astype(str).str.isnumeric()]

,Patient_ID,Age,Gender,Height_cm,Weight_kg,BMI,Blood_Pressure,Heart_Rate,Cholesterol,Diabetes,Smoking_Status,Admission_Date,Discharge_Date,Hospital,Billing_Amount
3,PAT1000003,-10,NaN,160.0,95.0,18.5,80/40,72.0,NaN,yes,Smoker,NaN,14-07-2021,City Hospital,NaN
4,PAT1000004,unknown,F,300.0,75.0,22.3,200/150,95.0,220,NaN,NaN,2001-09-29,NaN,city hospital,NaN
8,PAT1000008,-10,female,170.0,-20.0,NaN,300/200,85.0,180,no,smoker,NaN,2023-11-18,NaN,-1000.0
10,PAT1000010,NaN,Male,NaN,95.0,18.5,110/70,60.0,150,yes,NaN,NaN,NaN,city hospital,NaN
13,PAT1000013,NaN,female,170.0,NaN,27.8,invalid,72.0,220,NaN,NaN,NaN,NaN,NaN,999999.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157989,PAT1127721,-10,female,170.0,75.0,31.2,NaN,NaN,220,N,FORMER,NaN,04/09/2021,Metro Medical Center,NaN
157994,PAT1033702,NaN,F,50.0,500.0,18.5,invalid,72.0,150,No,smoker,NaN,11/04/2024,NaN,999999.0
157996,PAT1044876,-10,FEMALE,170.0,50.0,27.8,130/85,60.0,-50,N,Smoker,31-07-2025,NaN,city hospital,20000.0
157997,PAT1110495,unknown,Female,160.0,65.0,18.5,80/40,72.0,150,NaN,smoker,02/09/2025,1996-06-28,GENERAL HOSPITAL,999999.0
157998,PAT1025466,NaN,male,190.0,-20.0,NaN,invalid,250.0,-50,Yes,Smoker,30-06-2024,NaN,NaN,-1000.0

In [13]:

pd.to_numeric(df["Age"], errors="coerce").isna().sum()

31428

## 31428 values will break during conversion

# Step 1: (f) Detect Hidden Whitespace Everywhere (All Columns)

In [14]:
for col in df.select_dtypes(include="object"):
    count = (df[col] != df[col].str.strip()).sum()
    print(col, ":", count)

Patient_ID : 4639
Age : 15812
Gender : 43246
Blood_Pressure : 31972
Cholesterol : 22603
Diabetes : 62982
Smoking_Status : 52585
Admission_Date : 52308
Discharge_Date : 52546
Hospital : 99161

# Step 1: (g) Detect Suspicious Categorical Variations

In [15]:
df["Gender"].str.lower().unique()

array(['male', 'f', nan, 'female', 'female ', 'm', 'unknown'],
      dtype=object)

In [16]:
df["Smoking_Status"].str.lower().unique()

array(['unknown', 'smoker', nan, 'non smoker', 'former ', 'former',
       'non-smoker'], dtype=object)

In [17]:
df["Hospital"].str.lower().unique()

array([nan, 'metro medical center', 'city hospital', 'city hospital ',
       'general hospital ', ' general hospital'], dtype=object)

# Step 1: (h) Check Date Format Issues

In [18]:
df["Admission_Date"].unique()[:10]

array(['15-11-2020', '29-11-2022', '16-11-2022', nan, '2001-09-29',
       'February 03, 2021', '02/28/2025', '29-09-2024', '09/22/2023',
       '2020-12-31'], dtype=object)

In [19]:
df["Admission_Date"].unique()[:20]

array(['15-11-2020', '29-11-2022', '16-11-2022', nan, '2001-09-29',
       'February 03, 2021', '02/28/2025', '29-09-2024', '09/22/2023',
       '2020-12-31', '2021-05-27', '1983-07-28', '08-02-2022',
       '20-10-2021', 'February 02, 2025', 'October 30, 2023',
       'May 30, 2023', '09/25/2025', '12/16/2022', '1976-01-23'],
      dtype=object)

In [20]:
## conversion impact:
df["Admission_Date"] = pd.to_datetime(df["Admission_Date"], errors="coerce", dayfirst=True).isna().sum()

df["Discharge_Date"] = pd.to_datetime(df["Discharge_Date"], errors="coerce").isna().sum()

# Step 1: (i) Quick Full Data Audit

In [21]:
def data_audit(df):
    summary = pd.DataFrame({
        "dtype" : df.dtypes,
        "null_count" : df.isnull().sum(),
        "null_percent" : df.isnull().mean() * 100,
        "unique_values" : df.nunique()
        })
    return summary

data_audit(df)

                  dtype  null_count  null_percent  unique_values
Patient_ID       object        4639      2.936076         145579
Age              object       15812     10.007595              9
Gender           object       28670     18.145570              9
Height_cm       float64       19798     12.530380              7
Weight_kg       float64       19860     12.569620              7
BMI             float64       45392     28.729114              5
Blood_Pressure   object       31972     20.235443              8
Heart_Rate      float64       22369     14.157595              6
Cholesterol      object       22603     14.305696              6
Diabetes         object       31415     19.882911              8
Smoking_Status   object       34865     22.066456              7
Admission_Date    int64           0      0.000000              1
Discharge_Date    int64           0      0.000000              1
Hospital         object       39784     25.179747              6
Billing_Amount  float64       22528     14.258228              6

# Standardize Missing Values

In [22]:
df.replace(["", "unknown", "Unknown", "invalid", "N/A"], np.nan, inplace=True)

# Remove Duplicates

In [23]:
df= df.drop_duplicates(subset="Patient_ID")

# Strip Whitespace From All String Columns

In [24]:
for col in df.select_dtypes(include="object").columns:
    df[col] = df[col].str.strip()

# Fix Data Types

In [25]:
## convert numeric columns safely:

numeric_cols = [
    "Age", "Height_cm", "Weight_kg", "BMI", 
    "Heart_Rate", "Cholesterol", "Billing_Amount"
]

for col in numeric_cols:
    df[col] = pd.to_numeric(df[col], errors="coerce")

# Clean Impossible Medical Values

In [26]:
## Age (Range: 0-120)

df["Age"] = pd.to_numeric(df["Age"], errors= "coerce")

## Age filtering
df.loc[(df["Age"] <0) | (df["Age"] > 120), "Age"] = np.nan

In [27]:
# Height (Range: 100–250 cm)

df.loc[(df["Height_cm"] < 100) | (df["Height_cm"] > 250), "Height_cm"] = np.nan

In [28]:
# Weight (Range: 30-300 kg)

df.loc[(df["Weight_kg"] < 30) | (df["Weight_kg"] > 300), "Weight_kg"] = np.nan

In [29]:
# Heart Rate (Range: 30-220 bpm)

df.loc[(df["Heart_Rate"] < 30) | (df["Heart_Rate"] > 220), "Heart_Rate"] = np.nan

In [30]:
# Cholesterol (Range: 100-400 mg/dL)

df["Cholesterol"] = pd.to_numeric(df["Cholesterol"], errors= "coerce")

# Cholesterol Filttering
df.loc[(df["Cholesterol"] < 100) | (df["Cholesterol"] > 400), "Cholesterol"] = np.nan

In [31]:
# Billing (no negatives)

df.loc[df["Billing_Amount"]< 0, "Billing_Amount"] = np.nan

# Standardize Categorical Variables

In [32]:
# Gender

df["Gender"] = df["Gender"].str.lower()

df["Gender"] = df["Gender"].replace({
    "m" : "male",
    "f" : "female"
})

In [33]:
# Diabetics

df["Diabetes"] = df["Diabetes"].str.lower()

df["Diabetes"] = df["Diabetes"].replace({
    "y" : "yes",
    "n" : "no"
})

In [34]:
# Smoking_Status

df["Smoking_Status"] = df["Smoking_Status"].str.lower()

df["Smoking_Status"] = df["Smoking_Status"].replace({
    "non smoker" : "non-smoker"
})

In [35]:
# Hospital

df["Hospital"] = df["Hospital"].str.title()

# Parse Blood Pressure

In [36]:
## Split systolic and diastolic:

bp_split = df["Blood_Pressure"].str.split("/", expand = True)

df["Systolic"] = pd.to_numeric(bp_split[0], errors = "coerce")

df["Diastolic"] = pd.to_numeric(bp_split[1], errors = "coerce")

In [37]:
## Remove impossible BP:

df.loc[(df["Systolic"] < 70) | (df["Systolic"] > 250), "Systolic"] = np.nan

df.loc[(df["Diastolic"] < 40) | (df["Diastolic"] > 150), "Diastolic"] = np.nan

# Parse Mixed Date Formats

In [38]:
df["Admission_Date"] = pd.to_datetime(df["Admission_Date"], errors = "coerce")

df["Discharge_Date"] = pd.to_datetime(df["Discharge_Date"], errors = "coerce")

# For impossible discharge dates:

df.loc[df["Discharge_Date"] < df["Admission_Date"], "Discharge_Date"] = np.nan

# Recalculate BMI (More Reliable)

In [39]:
df["BMI_Calc"] = df["Weight_kg"] / ((df["Height_cm"] / 100) ** 2)

## Replace Unreliable BMI

df.loc[(df["BMI_Calc"] < 10) | (df["BMI_Calc"]> 60), "BMI_Calc"] = np.nan

# Handle Missing Values (Mean/ Median/ Mode)

In [40]:
## Using Median for skewed medical data:
numeric_cols = ["Age", "Heart_Rate", "Cholesterol"]

for col in numeric_cols:
    df[col] = df[col].fillna(df[col].median())

## Using mode for categorial data:
numeric_col = ["Gender", "Diabetes"]

for col in numeric_col:
    df[col] = df[col].fillna(df[col].mode()[0])

# Handle Outliers Using IQR

In [41]:
## For Billing

Q1 = df["Billing_Amount"].quantile(0.25)
Q3 = df["Billing_Amount"].quantile(0.75)
IQR = Q3 - Q1

Lower = Q1 - 1.5 * IQR

Upper = Q3 + 1.5 * IQR

df = df[(df["Billing_Amount"] >= Lower) & (df["Billing_Amount"] <= Upper)]

# Final Quality Checks

In [42]:
df.isnull().sum()
df.describe()
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 83158 entries, 0 to 149999
Data columns (total 18 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Patient_ID      83157 non-null  object
 1   Age             83158 non-null  float64
 2   Gender          83158 non-null  object
 3   Height_cm       52063 non-null  float64
 4   Weight_kg       52055 non-null  float64
 5   BMI             59269 non-null  float64
 6   Blood_Pressure  58071 non-null  object
 7   Heart_Rate      83158 non-null  float64
 8   Cholesterol     83158 non-null  float64
 9   Diabetes        83158 non-null  object
 10  Smoking_Status  55576 non-null  object
 11  Admission_Date  83158 non-null  datetime64[ns]
 12  Discharge_Date  83158 non-null  datetime64[ns]
 13  Hospital        62121 non-null  object
 14  Billing_Amount  83158 non-null  float64
 15  Systolic        49784 non-null  float64
 16  Diastolic       49784 non-null  float64
 17  BMI_Calc        32596 non-null  float64
dtypes: datetime64[ns](2), float64(10), object(6)
memory usage: 12.1+ MB

In [43]:
df.head()

,Patient_ID,Age,Gender,Height_cm,Weight_kg,BMI,Blood_Pressure,Heart_Rate,Cholesterol,Diabetes,Smoking_Status,Admission_Date,Discharge_Date,Hospital,Billing_Amount,Systolic,Diastolic,BMI_Calc
0,PAT1000000,75.0,male,180.0,NaN,18.5,130/85,85.0,150.0,no,NaN,1970-01-01 00:00:00.000131534,1970-01-01 00:00:00.000131596,NaN,50000.0,130.0,85.0,NaN
1,NaN,65.0,female,190.0,85.0,NaN,120/80,85.0,220.0,yes,NaN,1970-01-01 00:00:00.000131534,1970-01-01 00:00:00.000131596,Metro Medical Center,5000.0,120.0,80.0,23.545706
2,PAT1000002,35.0,female,NaN,65.0,22.3,110/70,85.0,220.0,yes,smoker,1970-01-01 00:00:00.000131534,1970-01-01 00:00:00.000131596,City Hospital,20000.0,110.0,70.0,NaN
6,PAT1000006,25.0,female,160.0,65.0,22.3,120/80,85.0,150.0,no,former,1970-01-01 00:00:00.000131534,1970-01-01 00:00:00.000131596,Metro Medical Center,20000.0,120.0,80.0,25.390625
7,PAT1000007,35.0,female,150.0,NaN,70.0,200/150,85.0,180.0,yes,NaN,1970-01-01 00:00:00.000131534,1970-01-01 00:00:00.000131596,City Hospital,50000.0,200.0,150.0,NaN

In [44]:
df.shape

(83158, 18)